@font-face {
    font-family: 'JetBrains-Bold';
    src:  url('webfonts/JetBrainsMono-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains-Regular';
    src:  url('webfonts/JetBrainsMono-Regular.woff2') format('woff2');
}

input {
    display: none;
}

output {
    display: inline-block;
    width: 2ch;
}

h3 {
    margin: 0.5vw 0vw;
    font-size: 1.5vw;
    grid-area: 1 / 1 / 2 / 6;
}

button {
    margin: 2vw 0vw;
    background-color: #00000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 1.2vw;
    padding: 0.5vw;
}

body {
    -webkit-overflow-scrolling: auto;
    scroll-behavior: auto;
    -webkit-text-size-adjust: none;
    margin: 0;
    background-color: #000;
}

#container {
    text-rendering: optimizeLegibility;
    font-size: 10vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vw;
    /* -webkit-font-feature-settings: "kern" 1; */
    /* font-kerning: none; */
    /* letter-spacing: 0vw; */
    line-height: 1em;
    margin-right: 10vw;
    margin-left: 10vw;
    padding-top: 100px;
    color: #fff;
    font-family: "JetBrains-Bold";
}

[contenteditable] {
    outline: 0px solid transparent;
  }

#control {
    display: grid;
    /* align-content: center; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* justify-items: stretch; */
    grid-template-columns: repeat(6, 1fr);
    width: 100vw;
    max-height: 6.7vw;
    overflow: visible;
    position: fixed;
    top: 0.5vw;
    background-color: #1d1d1d6b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    font-family: "JetBrains-Regular";
    font-size: 2vw;
}

.control-elem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

#control-hide {
    display: grid;
    width: 100%;
    position: fixed;
    top: 8vw;
    align-items: start;
    justify-content: center;
    transition: all .2s ease-in-out;
}

#qr {
    align-self: center;
    justify-self: start;
    padding-left: 0.5vw;
    filter: invert(1);
}

#qr>a>img{
    cursor: none;
    width: 50%;
    transition: all .2s ease-in-out;
}

#qr>a>img:hover{
    cursor: none;
    width: 100%;
}

/*  !!!!  */
/*  Flip  */
/*  !!!!  */
.flip {
    transform:         scaleX(-1);
    -moz-transform:    scaleX(-1);
    -o-transform:      scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
}

.noselect {
    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
    -khtml-user-select:     none;
    -moz-user-select:       none;
    -ms-user-select:        none; 
    user-select:            none;
                                 
  }

/* Progress bar */
.progress-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 0.5vw;
    background: #000;
}

.progress-bar {
    height: 0.5vw;
    background: rgba(255, 255, 255, 0.3);
    width: 0%;
}

/* Arrows */
.arrow-cnt {
    display: inline-block;
    margin: 0 1vw;
}

.arrow {
    border: solid #70707099;
    /* filter: drop-shadow(0px 0px 10px #000);
    -webkit-filter: drop-shadow(0px 0px 10px #000);
    -moz-filter: drop-shadow(0px 0px 10px #000); */
    border-width: 0 0.3vw 0.3vw 0;
    display: inline-block;
    padding: 0.5vw;
    transition: all .2s ease-in-out;
  }
  
  .right {
    transform: translateY(-0.2vw) rotate(-45deg);
    -webkit-transform: translateY(-0.2vw) rotate(-45deg);
  }
  
  .left {
    transform: translateY(-0.2vw) rotate(135deg);
    -webkit-transform: translateY(-0.2vw) rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
/* 
  img {
    object-fit: contain;
  } */