@font-face {
    font-family: 'JetBrains-Bold';
    src:  url('webfonts/JetBrainsMono-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains-Regular';
    src:  url('webfonts/JetBrainsMono-Regular.woff2') format('woff2');
}

input[type=range] {
    display: none;
}

output {
    display: inline-block;
    width: 2ch;
}

h3 {
    margin: 0.5vw 0vw;
    font-size: 1.5vw;
    grid-area: 1 / 1 / 2 / 6;
}

button {
    margin: 2vw 0vw;
    background-color: #00000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 1.2vw;
    padding: 0.5vw;
}

input[type=text] {
    margin: 2vw 0vw;
    background-color: #00000000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 1.2vw;
    padding: 0.5vw;
}

body {
    -webkit-overflow-scrolling: auto;
    scroll-behavior: auto;
    -webkit-text-size-adjust: none;
    margin: 0;
    background-color: #000;
    position: fixed;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    max-height: -webkit-fill-available;
}

body:after {
    content: " ";
    background-color: #ffffff55;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5vw;
    cursor: row-resize;
}

#container {
    position: relative;
    text-rendering: optimizeLegibility;
    font-size: 10vw;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0vw;
    max-height: 100vh;
    min-height: 3vh;
    height: 50vw;
    z-index: -1;
    /* -webkit-font-feature-settings: "kern" 1; */
    /* font-kerning: none; */
    /* letter-spacing: 0vw; */
    line-height: 1em;
    margin-right: 10vw;
    margin-left: 10vw;
    padding-top: 9vw;
    color: #fff;
    font-family: "JetBrains-Bold";
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

#container::-webkit-scrollbar {
    display: none;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

#control {
    display: grid;
    grid-template-columns: 8vw repeat(4, 1fr) 2vw 2vw;
    grid-template-rows: 8vw;
    width: 100vw;
    overflow: visible;
    position: fixed;
    top: 0.5vw;
    background-color: #1d1d1d6b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    font-family: "JetBrains-Regular";
    font-size: 2vw;
    transition: all .2s ease-in-out;
}

#control:after {
    content: "\f0d8";
    font-family: FontAwesome;
    background-color: #ffffff25;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1vw;
    line-height: 50%;
    cursor: n-resize;
    text-align: center;
    align-self: end;
}

#control.hidden {
    max-height: 1vw;
}

#control.hidden:after {
    content: "\f0d7";
    max-height: 1vw;
    background-color: #000;
    color: #ffffff55;
    cursor: s-resize;
}

.control-elem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 3vw);
    justify-items: center;
}

#control-hide {
    display: grid;
    width: 100%;
    position: fixed;
    top: 8vw;
    align-items: start;
    justify-content: center;
    transition: all .2s ease-in-out;
}

#qr {
    align-self: center;
    justify-self: start;
    padding-left: 0.5vw;
    filter: invert(1);
}

#big-qr-container {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-family: "JetBrains-Regular";
    font-size: 3vw !important;
}

#big-qr {
    position: absolute;
    top: 15vh;
    left: 15vw;
    height: 70vh;
    width: 70vw;
    background-color: #000;
    border: 0.5vw solid #fff;
    border-radius: 1vw;
    transition: all .2s ease-in-out;
}

#qr>img{
    /* cursor: none; */
    width: 6vw;
    transition: all .2s ease-in-out;
}

#big-qr>img{
    filter: invert(1);
    height: 70vh;
    width: 70vw;
    object-fit: scale-down;
    transition: all .2s ease-in-out;
}

#big-qr-container>input{
    position: absolute;
    top: 85vh;
    left: 15vw;
    margin: 2vw 1vw 2vw 0;
    width: 38ch;
}

#big-qr-container>button{
    position: absolute;
    top: 85vh;
    left: calc(15vw + 41ch);
}
/* #qr>a>img:hover{
    cursor: none;
    width: 100%;
} */

/*  !!!!  */
/*  Flip  */
/*  !!!!  */
.flip {
    transform:         scaleX(-1);
    -moz-transform:    scaleX(-1);
    -o-transform:      scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
}

.noselect {
    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
    -khtml-user-select:     none;
    -moz-user-select:       none;
    -ms-user-select:        none; 
    user-select:            none;                         
}

/* Progress bar */
.progress-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 0.5vw;
    background: #000;
}

.progress-bar {
    height: 0.5vw;
    background: rgba(255, 255, 255, 0.3);
    width: 0%;
}

/* Arrows */
.arrow-cnt {
    display: inline-block;
    margin: 0 1vw;
}

.arrow {
    border: solid #70707099;
    /* filter: drop-shadow(0px 0px 10px #000);
    -webkit-filter: drop-shadow(0px 0px 10px #000);
    -moz-filter: drop-shadow(0px 0px 10px #000); */
    border-width: 0 0.3vw 0.3vw 0;
    display: inline-block;
    padding: 0.5vw;
    transition: all .2s ease-in-out;
  }
  
  .right {
    transform: translateY(-0.2vw) rotate(-45deg);
    -webkit-transform: translateY(-0.2vw) rotate(-45deg);
  }
  
  .left {
    transform: translateY(-0.2vw) rotate(135deg);
    -webkit-transform: translateY(-0.2vw) rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .dot {
    height: 2vw;
    width: 2vw;
    background-color: #000;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    transition: all .1s ease-in-out;
  }

  .big-button {
    height: 4vw;
    width: 4vw;
    background-color: #00000077;
    border: 2px solid #fff;
    border-radius: 10%;
    display: block;
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    transition: all .1s ease-in-out;
  }